{% extends "layout-base.html" %}

{% block content %}

<div class="col-lg-3">
    <h2 class="my-4">Categories</h2>
    <div class="list-group">
        {% for category in categories %}
        <a href="{{ url_for('show_items_in_category', category_id = category.id) }}"><p>{{ category.name }} <span class="badge badge-light">{{category.item_count}}</span></p></a>
        {% endfor %}
    </div>
</div>
<!-- /.col-lg-3 -->

<div class="col-lg-9">
    <h2 class="my-4">{{ category.name }} (items <span class="badge badge-light">{{ items|length }}</span>)</h1>
    
    {% for item in items %}
        {% include "layout-item.html" with context %}
    {% endfor %}

</div>
<!-- /.col-lg-9 -->

{% endblock %}